<app-menu *ngIf="showMenu"></app-menu>
<h1>Działa</h1>
<button (click)="showMenu = !showMenu">ukryj menu</button>

<input type="text" [(ngModel)]="form">

<p>{{form}}</p>



<hr>

<h1>User form</h1>
Name: <input type="text" [(ngModel)]="userForm.name"><br>
Desc: <input type="text" [(ngModel)]="userForm.desc"><br>
Type: <select [(ngModel)]="userForm.type">
  <option value="type1">Type 1</option>
  <option value="type2">Type 2</option>
  <option value="type3">Type 3</option>
</select><br>

<button (click)="addNewUser()">Dodaj</button>


<hr>

<pre>
  <code>
    {{userForm | json}}
  </code>
</pre>








<div>
  <app-user
    *ngFor="let item of userDynamicData"
    [userData]="item"
    (newItemEvent)="addItem($event)"
    >

  </app-user>
</div>
