<app-menu *ngIf="showMenu"></app-menu>
<h1>Działa</h1>
<button (click)="showMenu = !showMenu">ukryj menu</button>

<input type="text" [(ngModel)]="form.input">

<p>{{form}}</p>



<hr>

<h1>User form</h1>
<label for="name">Name: </label>
<input id="name" type="text" [formControl]="name">
<p>Value: {{ name.value }}</p>


<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <div formGroupName="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <p-button label="Check" pRipple icon="pi pi-check"></p-button>

</form>


<!-- Name: <input type="text" [(ngModel)]="userForm.name" maxlength="10"><br>
Desc: <input type="text" [(ngModel)]="userForm.desc"><br>
Type: <select [(ngModel)]="userForm.type">
  <option value="type1">Type 1</option>
  <option value="type2">Type 2</option>
  <option value="type3">Type 3</option>
</select><br> -->

  <button (click)="updateProfile()">Dodaj</button>



<hr>

<pre>
  <code>
    {{profileForm }}
  </code>
</pre>








<div>
  <app-user
    *ngFor="let item of userDynamicData"
    [userData]="item"
    (newItemEvent)="addItem($event)"
    >

  </app-user>
</div>
